*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #477389;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 10px 70px;
}

h1{
    font-size: 50px;
    color: #00040d;
}

.container{
    text-align: center;
    padding: 25px;
    width: 80%;
}
.subtitle{
    text-align: left;
    margin-bottom: 20px;
    color: #182631;
}

ul{
    list-style: none;
    text-align: left;

}

.text{
    width: 80%;
    text-align: left;
}